*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
  font: 14px Arial;
  position: relative;
  overflow:hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
input[type="text"],
input[type="password"],
input[type="submit"],
.button_block .button{
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);
}
input[type="text"],
input[type="password"]{
    width: 273px;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.message_popup{
    position: absolute;
    display: inline-block;
    padding: 10px;
    border: 1px solid #191970;
    margin: 10px 0 0 10px;
    list-style: none;
    border-radius: 3px;
    background: #87CEFA;
    color: #191970;
}
.error{
    display: inline-block;
    padding: 10px;
    border: 1px solid #8B0000;
    margin: 10px 0 0 10px;
    list-style: none;
    border-radius: 3px;
    background: #F08080;
    color: #8B0000;
}

#page{
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    background: #F0FFF0;
    position: relative;
}
#page .title{
    padding: 5px 0;
}
#page .top_menu{
    background: #006400;
    color: #fff;
    border-bottom: 1px solid #000;
    box-shadow: 0 0px 5px #aaa;
}
#page .top_menu_wrap{
    margin: 0 auto;
    width: 500px;
}
#page .top_menu span{
    padding: 0px 10px;
    font-size: 30px;
    font-weight: bold;
}
#page .top_menu a{
    display: inline-block;
    padding: 0px 10px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    color: #fff;
}
#page .top_menu a:hover{
    background: rgba(0, 0, 0, 0.5);
}

#content{
    margin: 0 auto;
    padding: 10px;
    width: 350px;
}
.form_item{
    padding: 5px 0;
}
.form_item label{
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
    color: #2E8B57;
}
.button input,
.button_block .button{
    margin-top: 10px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #006400;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.button input:hover,
.button_block .button:hover{
    cursor: pointer;
    background: rgba(0, 100, 0, 0.9);
}


.edit_link{
    display: inline-block;
    margin-bottom: 20px;
    color: #006400;
    font: bold italic 16px Arial;
}

.plants_item{
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(152, 251, 152, 0.3);
    border: 1px solid #000;
    border-radius: 3px;
}
.plant_info span{
    font-weight: bold;
    color: #2E8B57;
}
.button_block form{
    float: left;
    margin-right: 10px;
}
.pagination .button{
    display: inline-block;
    padding: 0px 10px;
    color: #006400;
    font: bold italic 16px Arial;
}
.pagination .button.next:after{
    content: ">>";
    padding: 0 0 0 5px;
}
.pagination .button.prev:before{
    content: "<<";
    padding: 0 5px 0 0;
}