<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - PlantsOk</title>
        {% else %}
        <title>Welcome to PlantsOk!</title>
        {% endif %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="page">
            <div class="top_menu">
                <div class="top_menu_wrap clearfix">
                    <span>PlantsOk:</span>
                    <a href="{{ url_for('index') }}">Home</a>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <a href="{{ url_for('user_profile') }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="message_popup">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>