{% extends "base.html" %}

{% block content %}
<div id="content">
    <h1 class="title">Please, change plant information</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form_item clearfix">
            {{ form.type.label }}
            {{ form.type(cols=32, rows=4) }}
            {% for error in form.type.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.name.label }}
            {{ form.name(cols=32, rows=4) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.size.label }}
            {{ form.size(cols=32, rows=4) }}
            {% for error in form.size.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.purchase_date.label }}
            {{ form.purchase_date(cols=32, rows=4) }}
            {% for error in form.purchase_date.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.seller.label }}
            {{ form.seller(cols=32, rows=4) }}
            {% for error in form.seller.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="button">{{ form.submit() }}</div>
    </form>
</div>
{% endblock %}