{% extends "base.html" %}

{% block content %}
<div id="content">
    <h1 class="title">Sign In</h1>
    <form class="title" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form_item clearfix">
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <div class="button">{{ form.submit() }}</div>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
{% endblock %}