{% extends "base.html" %}

{% block content %}
<div id="content">
    <h1 class="title">Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form_item clearfix">
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.email.label }}
            {{ form.email(size=64) }}
            {% for error in form.email.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form_item clearfix">
            {{ form.password2.label }}
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="button">{{ form.submit() }}</div>
    </form>
</div>
{% endblock %}