{% extends "base.html" %}

{% block content %}
<div id="content">
    <h1 class="title">User: {{ user.username }}</h1>
    {% if user == current_user %}
        <p class="edit_link"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}
    {% for plant in plants %}
    <div class="plants_item">
        <div class="plant_info">
            <p><span>Type:</span> {{ plant.type }}</p>
            <p><span>Name:</span> {{ plant.name }}</p>
            <p><span>Size:</span> {{ plant.size }}</p>
            <p><span>Purchase date:</span> {{ plant.purchase_date }}</p>
            <p><span>Seller:</span> {{ plant.seller }}</p>
        </div>
        <div class="button_block clearfix">
            <form method=post action="{{ url_for('edit_plant', id=plant.id) }}">
                <button class="button" type=submit>Edit</button>
            </form>
            <form method=post action="{{ url_for('delete_plant', id=plant.id) }}">
                <button class="button" type=submit>Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        {% if prev_url %}
        <a class="button prev" href="{{ prev_url }}">Prev page</a>
        {% endif %}
        {% if next_url %}
        <a class="button next" href="{{ next_url }}">Next page</a>
        {% endif %}
    </div>
</div>
{% endblock %}